* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

li{
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: center;
    width: 50%;
    justify-content: space-between;
    list-style-type: none;
}
.hoverul{
    transition: 0.3s;

}
.hoverul:hover{
    color: rgb(17, 90, 13);
    font-size: large;

}
a{
    color: rgb(245, 243, 243);
    text-decoration: none;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 204, 112);
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;

}

.about {
    padding: 40px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.about h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.services {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.service {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    width: 420px;
}

.service h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #33a853;
    color: white;
    margin-top: 50px;
    
}
